<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo_69/blob/main/Semana_3_Limpieza_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Semana 3: Limpieza de datos**
##Ciencia y Analítica de Datos 
####Profr: Dr. Jobish 
#### 04-Octubre-2022

#####A01794050 - Moreno Villarreal José Bernardo 
#####A01793814 - Rincón Morales Emerson Jonathan

#Parte 1: Fundamentos de bases de datos

###Fundamentos de bases de datos y para ciencia de datos. 

* •	Una base de datos es un conjunto de documentos que permite el manejo de la información. 
* •	Cada uno de los documentos puede ser visto como un conjunto de registros y cada registro está compuesto por campos. 
* •	Cada uno de los campos de cada registro permite llevar información de algún atributo de la información de la compañía considerada como esencial para sus indicadores o salidas de proceso. 
* •	Un archivo de una base de datos también puede ser pensado como una tabla en la que tenemos renglones y columnas, cada renglón correspondiendo a un registro del archivo y cada columna correspondiendo a un campo.


###Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.
* •	Básicamente es una base de datos gigante que contiene información de diferentes fuentes enlazadas para su análisis.
* •	Un “Data Warehouse” tiene el reto de tomar datos de diferentes fuentes, transformándolos en una especie de tabla que nos permite analizar dichas fuentes simultáneamente.
* •	Existen muchos retos en el “Data Warehousing”, uno de ellos es como los datos de diferentes fuentes pueden relacionarse para la toma de decisiones. ¿Cómo podemos estar seguros de que una columna de una fuente se puede relacionar con otra?, por ejemplo.
* •	Algunos retos adicionales serian el enfrentar datos faltantes, outliers, datos corruptos o datos no esperados en formato de alguna de las fuentes, manteniendo 



*Kane, F. K. (2017). Hands-On Data Science and Python Machine Learning. newoutlook. Recuperado 4 de octubre de 2022, de https://newoutlook.it/download/python/hands-on-data-science.pdf
Cruz-Chávez, M. A. (2006). Bases de Datos, Conceptos y sus Características. uaem. Recuperado 4 de octubre de 2022, de http://www.gridmorelos.uaem.mx/~mcruz/cursos/miic/bd1.pdf*

#Parte 2: Selección y limpieza de los Datos en Python

In [4]:
#Importamos las librerías Pandas y Numpy 
import pandas as pd
import numpy as np

In [5]:
#Leemos los datos del archivo y los asignamos al DataFrame "Datos"
datos= pd.read_csv('/content/sample_data/CreditCard.csv', index_col=0)
datos

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [6]:
#Verificamos si falta algún dato 
datos.isnull().values.any()

True

In [7]:
#Observamos en qué columnas tenemos valores faltantes 
datos.isnull().any()

X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

###Approach 1: Descartar las observaciones faltantes

In [8]:
#utilizamos Dropna para retirar las filas que no tengan datos 
datos.dropna(axis=0,inplace= True)
datos.isnull().any()

X1     False
X2     False
X3     False
X4     False
X5     False
X6     False
X7     False
X8     False
X9     False
X10    False
X11    False
X12    False
X13    False
X14    False
X15    False
X16    False
X17    False
X18    False
X19    False
X20    False
X21    False
X22    False
X23    False
Y      False
dtype: bool

In [9]:
#Ya no se tienen datos faltantese pero se perdieron 42 filas
datos.shape

(29958, 24)

In [10]:
#Abrimos el mismo archivo pero lo asignamos a otro Dataframe para que el anterior no se vea afectado. Comprobamos si tenemos valores faltantes
datos2= pd.read_csv('/content/sample_data/CreditCard.csv', index_col=0)
#Retiramos columnas que tengan datos faltantes
datos2.dropna(axis=1,inplace= True)
datos2.isnull().any()

X1    False
dtype: bool

In [11]:
#Con este metodo se pierde gran parte de la información, se retiran 23 columnas
datos2.shape

(30000, 1)

In [12]:
#Abrimos el mismo archivo pero lo asignamos a otro Dataframe para que el anterior no se vea afectado. Retiramos todas las fillas que no tengan ningun dato
datos3= pd.read_csv('/content/sample_data/CreditCard.csv', index_col=0)
datos3.dropna(how='all', inplace = True)
datos3.isnull().any()

X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [13]:
#Este método nos mantiene la misma información, indica que ninguna fila tiene toda su información faltante
datos3.shape

(30000, 24)

###Approach 2: Sustituir las observaciones faltantes

In [14]:
#Leemos los datos del archivo y los asignamos al DataFrame "Datos"
Datos= pd.read_csv('/content/sample_data/CreditCard.csv', index_col=0)
Datos.isnull().any()

X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [15]:
#Se observa que la columna X2 tiene al menos una observación faltante, debido a que es un dato numérico calculamos la media
w_X2=Datos.X2.mean()
w_X2

1.603753458448615

In [16]:
#Sustituimos el valor en la columna con observaciones faltantes 
Datos['X2'].fillna(value = w_X2, inplace = True)
Datos.isnull().any()

X1     False
X2     False
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [20]:
#Debido a que X3 es un dato binario, nos convine utilizar la moda para sustituir el valor 
w_X3=Datos.sort_values
w_X3=Datos.describe()
w_X3

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000.000000,30000.000000,30000.000000,29998.000000,29995.000000,29997.000000,29995.000000,29993.000000,29991.000000,29984.000000,...,29985.000000,29983.000000,29990.000000,29992.000000,2.999100e+04,29992.000000,29989.000000,29989.000000,29995.000000,29997.000000
mean,167484.322667,1.603753,1.853067,1.551903,35.484214,-0.016635,-0.133689,-0.166405,-0.220800,-0.266342,...,43275.652326,40324.493980,38881.135745,5662.945886,5.922489e+03,5225.623400,4827.252526,4800.297209,5216.259977,0.221189
std,129747.661567,0.489117,0.790294,0.521968,9.218024,1.123829,1.197254,1.196048,1.169153,1.133296,...,64345.500073,60809.984983,59561.312967,16564.165089,2.304418e+04,17608.422625,15668.751975,15280.842069,17778.848359,0.415054
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2329.000000,1763.500000,1256.250000,1000.000000,8.355000e+02,390.000000,296.000000,251.000000,118.000000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18107.000000,17081.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54560.000000,50213.000000,49208.250000,5006.000000,5.000000e+03,4505.500000,4014.000000,4033.000000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [27]:
#Se sustituyen los valores de X3 y X4 con las medianas

Datos['X3'].fillna(value = 2.0, inplace = True)
Datos['X4'].fillna(value = 2.0, inplace = True)

#Se sustituye el valor de X5 con el promedio
Datos['X5'].fillna(value = Datos.X5.mean(), inplace = True)

#Se sustituyen los valores de X6 a X11 con las medianas
Datos['X6'].fillna(value = 0.0, inplace = True)
Datos['X7'].fillna(value = 0.0, inplace = True)
Datos['X8'].fillna(value = 0.0, inplace = True)
Datos['X9'].fillna(value = 0.0, inplace = True)
Datos['X10'].fillna(value = 0.0, inplace = True)
Datos['X11'].fillna(value = 0.0, inplace = True)
Datos['Y'].fillna(value = 0.0, inplace = True)

#Se sustituyen los valores de X12 a X23 con los promedios
Datos['X12'].fillna(value = Datos.X12.mean(), inplace = True)
Datos['X13'].fillna(value = Datos.X13.mean(), inplace = True)
Datos['X14'].fillna(value = Datos.X14.mean(), inplace = True)
Datos['X15'].fillna(value = Datos.X15.mean(), inplace = True)
Datos['X16'].fillna(value = Datos.X16.mean(), inplace = True)
Datos['X17'].fillna(value = Datos.X17.mean(), inplace = True)
Datos['X18'].fillna(value = Datos.X18.mean(), inplace = True)
Datos['X19'].fillna(value = Datos.X19.mean(), inplace = True)
Datos['X20'].fillna(value = Datos.X20.mean(), inplace = True)
Datos['X21'].fillna(value = Datos.X21.mean(), inplace = True)
Datos['X22'].fillna(value = Datos.X22.mean(), inplace = True)
Datos['X23'].fillna(value = Datos.X23.mean(), inplace = True)

Datos.isnull().any()

X1     False
X2     False
X3     False
X4     False
X5     False
X6     False
X7     False
X8     False
X9     False
X10    False
X11    False
X12    False
X13    False
X14    False
X15    False
X16    False
X17    False
X18    False
X19    False
X20    False
X21    False
X22    False
X23    False
Y      False
dtype: bool

In [28]:
#imprimimos ambos approaches 
Datos

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [29]:
datos

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [31]:
Datos.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000
mean,167484.322667,1.603753,1.853067,1.551933,35.484214,-0.016633,-0.133667,-0.166367,-0.220733,-0.266200,...,43275.652326,40324.493980,38881.135745,5662.945886,5.922489e+03,5225.623400,4827.252526,4800.297209,5216.259977,0.221167
std,129747.661567,0.489117,0.790294,0.521963,9.217256,1.123773,1.197155,1.195911,1.168983,1.133011,...,64329.411150,60792.752471,59551.384923,16561.956313,2.304072e+04,17606.074601,15665.879011,15278.040231,17777.366677,0.415039
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2332.000000,1769.500000,1258.500000,1000.000000,8.360000e+02,390.000000,298.000000,254.750000,118.000000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19066.000000,18123.000000,17100.500000,2100.000000,2.010000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50177.000000,49198.250000,5007.000000,5.000000e+03,4512.000000,4016.500000,4043.750000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [32]:
datos.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,...,29958.000000,29958.000000,29958.000000,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000
mean,167555.900928,1.604012,1.853094,1.551739,35.483443,-0.017124,-0.134021,-0.166767,-0.221110,-0.266807,...,43279.335370,40328.984578,38889.925763,5664.614460,5.925715e+03,5228.429969,4829.873556,4801.481574,5220.708025,0.221143
std,129737.299088,0.489070,0.790471,0.521952,9.214319,1.123989,1.197171,1.196026,1.168419,1.132307,...,64364.684347,60826.219326,59582.883301,16568.823518,2.305598e+04,17617.338167,15676.205514,15285.552652,17788.983767,0.415023
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2327.500000,1762.250000,1256.000000,1000.000000,8.352500e+02,390.000000,296.250000,253.250000,118.000000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19037.500000,18104.500000,17067.500000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54551.250000,50220.750000,49234.750000,5007.000000,5.000000e+03,4511.500000,4014.750000,4040.000000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

Se confirma que en este caso el mejor approach es el 1 debido al retrabajo que conlleva el 2 y no genera un cambio significante

#Parte 3: Preparación de los datos

Con base en los resultados de tu libreta de Google Colab de la Parte 2 responde detalladamente las siguientes preguntas:

**1.- ¿Qué datos considero mas importantes? ¿Por qué?**
Consideramos importantes: 
* X1: Cantidad del crédito otorgado. 
* X6 - X11: Historial del último pago.
* X12-X17: Cantidad de débito en la tarjeta
* X18-X23: Cantidad de pago previo

Estos valores resultan importantes para determinar si se tiene confiabilidad en otorgar un crédito basado en los pagos anteriores. Determinamos que estos datos son los más relevantes ya que lo que buscamos es tener certeza en el otorgamiento de crédito. Si bien factores como la educación pueden parecer relevantes, no los consideramos tan importantes debido a que una persona que no tiene una educación universitaria sí pudiera pagar un crédito. De igual manera no consideramos relevante el género por la misma situación. Así mismo, bajo esta misma linea de razonamiento, el estatus marital ni la edad se consideraron relevantes debido a que una persona casada y de gran edad pudiera tener la solvencia económica para estar realizando los pagos del crédito en tiempo y forma. 

.

**2.- ¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?**

Se eliminaron los datos ya que se observó que las observaciones nulas eran 42 de 30,000; es decir 0.14%, lo cual no es una muestra representativa. Bajo este análisis se consideró que no se tendría un impacto significativo en la resolución final, una vez que los datos hayan sido introducidos al modelo. Además el tratamiento y el remplazo de datos nulos para 23 columnas requiere una mayor cantidad de tiempo que eliminar 42 filas. 

.

**3.- ¿Es necesario limpiar los datos para el análisis? Sí / No / ¿Por qué?**

Sí es necesario. De acuerdo con la teoría de ciencia de datos, se requiere tener datos procesados y limpios antes de enviarlos hacia un modelo. De esta manera nuestro modelo puede realizar su proceso de predicción de manera correcta, el no realizar la limpieza de datos pudiera ocasionarnos errores más adelante. 

.

**4.- ¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / ¿Por qué?**

Determinamos que no existen errores de formato, sin embargo se apreció que había observaciones faltantes, esto mediante el comando isnull.

.

**5.-¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?**

Se optó por eliminar filas. Se analizó qué convenía eliminar, si filas o columnas, se observa que al eliminar filas no se pierde información sustancial. En cambio, al eliminar columnas se perdía practicamente toda la información dejando una única columna. Tambien se optó por completar las columnas faltantes relevantes mediante el análisis de medias y aunque el dato de género no lo consideramos relevante, se realizó la adición de información mediante el cálculo de su mediana, la rzón de hacerlo de esta manera fue que se trataba de un dato binario. Este mismo razonamiento se aplicó al resto de las columnas.